{{ dynamic_sidebar('taxonomy-sidebar') }}

{% set sticky_sidebar_content %}
    {{ dynamic_sidebar('sticky-taxonomy-sidebar') }}
{% endset %}

{% if sticky_sidebar_content %}
    <div class="position-sticky single-sticky-aside mb-10">{{ sticky_sidebar_content|raw }}</div>
{% endif %}
