<div class="container">
    <div class="row">
        {% for plan in plans %}
            <div class="col-6 col-md-4 col-lg-2 mb-5">
                <a href="{{ plan.permalink|esc_url }}" class="d-block on-hover position-relative overflow-hidden">
                    {{ wp_get_attachment_image(plan.first_image, image_size, {class: 'w-100'})|raw }}
                    <div class="position-absolute w-100 top-0 left-0 show-fade">
                        {{ wp_get_attachment_image(plan.second_image, image_size, {class: 'w-100'})|raw }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {{ render_if_has_content('div', {class: 'px-3 py-2 font-weight-normal highlight-text primary-white'}, wpautop(subtext)) }}
</div>
