{% set current = current|default(1) %}
{% if pages is defined and pages > 1 %}
    <nav id="{{ id|default('pagination')|esc_attr }}" class="my-6 d-flex justify-content-center"
         aria-label="{{ pagination_label|raw }}">
        <ul class="page-numbers pagination-area pagination mb-0">
            {% for label, page in pages %}
                {% include get_template('custom_item', _self) with {
                    is_current: page == current
                } %}
            {% endfor %}
        </ul>
    </nav>
{% endif %}

