{% extends get_template('./base', _self) %}

{% block body %}

    {% set sections = [
        'first_slider',
        'links',
        'latest_posts',
        'subscription',
        'banner',
        'hashure',
        'advertisers',
        'elected_magazine',
        'first_products',
        'second_products',
    ] %}
    <h1 class="sr-only">{{ the_title()|raw }}</h1>
    {% set rendered = 0 %}
    {% for name in sections %}
        {% set options = get_cover_option(name, {}) %}
        {% if options.enable is defined and options.enable %}
            <section{% if name is not same as('first_slider') %} class="my-7"{% endif %}>
                {% if options.title is not empty %}
                    {% if options.hidden_title is not defined or not options.hidden_title %}
                        <div class="container mb-4">
                            {% include get_cover_template('common/header/title') with {
                                title: options.title,
                                heading: 'h2',
                                title_size: 'sm',
                                title_attrs: add_animation({class: 'py-2 font-weight-normal'}, 'fadeInLeft', 0.1, 0),
                                title_margin: 1,
                            } %}
                            {% if options.description is defined
                                and options.description is not empty %}
                                <div class="px-4 px-md-0 mt-3 text-justify">
                                    {{ wpautop(options.description)|raw }}
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <h2 class="sr-only">{{ options.title|raw }}</h2>
                    {% endif %}
                {% endif %}
                {% include get_template('./front/' ~ name, _self) with options %}
                {% set rendered = rendered + 1 %}
            </section>
        {% endif %}
    {% endfor %}

{% endblock %}

