{% extends get_template('base', _self) %}

{% block body %}
    <div class="container py-10">
        <div class="row justify-content-center flex-column">
            <div class="col-12 col-lg-10 col-xl-8 m-auto text-center">
                {{ pmpr_do_action('render_404') }}
            </div>
        </div>
    </div>
{% endblock %}

