{# disable main block to overwite inside row #}
{% set has_main = 0 %}

{% extends get_template('./container', _self) %}

{% block inside_container %}
    {% block before_row %}{% endblock %}
    <div class="row{% if row_class|default('') is not empty %} {{ row_class|esc_attr }}{% endif %}">
        <main class="col-12 col-lg-8 order-{{ main_order|default(0)|esc_attr }}">
            {% block content %}{% endblock %}
        </main>
        <aside class="col-12 col-lg-4 order-{{ sidebar_order|default(1)|esc_attr }}">
            {% block sidebar %}{% endblock %}
        </aside>
        {% block after_columns %}{% endblock %}
    </div>
    {% block after_row %}{% endblock %}
{% endblock %}
