<div id="header_search_box"
     class="search-box-container overlay dark-90 z-index-2 position-fixed h-100 w-100 top-0 left-0">
    <div class="search-box-content w-100 px-5">
        {{ render_icon(icon, {class: 'icon-white search-box-close d-block mb-5 as-link'}, 1) }}
        {{ get_search_form()|raw }}
        {{ pmpr_do_action('after_header_search_box_form') }}
    </div>
</div>

