<div id="header_search_box" class="search-box-container overlay dark-90 z-index-2 position-fixed h-100 w-100 top-0 left-0">
    <div class="search-box-content centered-absolute mx-w-700 px-8 w-100 z-index-3">
        {{ render_icon(icon, {class: 'icon-white search-box-close d-block mb-5 as-link'}, 1) }}
        {{ get_search_form()|raw }}
    </div>
</div>

