{% extends get_cover_template('container') %}

{% block before_container %}

    {{ parent() }}
    {% embed get_cover_template('common/header/index') with {
        nowrap: 1,
    }%}
        {% block after_title %}
            {{ pmpr_do_action('browser_render', {
                items: pages
            }) }}
        {% endblock %}
    {% endembed %}

{% endblock %}

{% block inside_container %}

    {% if posts is defined
        and posts is not empty %}

        <div class="row my-6">
            {% for index, post in posts %}

                {% include get_cover_template('common/post/block') with {
                    post: post,
                    loop: loop,
                } %}
            {% endfor %}
        </div>

        {% include get_cover_template('common/archive/pagination') with {
            pagination_args: {
                total: total_page,
                current: current_page,
            }
        } %}

    {% else %}

        {% include get_cover_template('common/archive/empty') %}
    {% endif %}
{% endblock %}

