<div class="border-top border-white broder-2 py-6 d-flex flex-column flex-lg-row justify-content-between text-center">
    <div class="mb-4 mb-lg-0">
        {{ dynamic_sidebar('footer-5') }}
    </div>
    {{ pmpr_do_action('render_signature') }}
</div>

