{% set has_footer_1 = is_active_sidebar('footer-1') %}
{% set has_footer_2 = is_active_sidebar('footer-2') %}
{% set has_footer_3 = is_active_sidebar('footer-3') %}
{% set has_footer_4 = is_active_sidebar('footer-4') %}

{% if has_footer_1 or has_footer_2
    or has_footer_3 or has_footer_4 %}
    <div class="row py-6 py-md-8 py-lg-10">
        {% set segments = 4 %}
        {% for i in 1..segments %}
            {% set class = 'col-12 col-sm-6 col-xl-3' %}
            {% if not loop.last %}
                {% set class = class ~ ' mb-8 mb-xl-0' %}
            {% endif %}
            <div class="{{ class|esc_attr }}">
                {{ dynamic_sidebar('footer-' ~ i) }}
            </div>
        {% endfor %}
    </div>
{% endif %}


