{% set title = get_title(event) %}
{% set permalink = get_permalink(event) %}
<div class="d-flex flex-column flex-md-row position-relative">
    {% include get_cover_template('common/post/thumbnail') with {
        post: event,
        image_size: is_mobile ? 'medium' : 'thumbnail',
        image_attr: {class: (is_mobile ? 'w-100 ' : 'flex-shrink-0') ~ 'mb-5 mb-md-0'},
        figure_class: 'responsive mb-0'
    } %}
    <div class="ml-0 ml-md-5">
        <h3 class="h6 max-line max-line-1">{{ title|raw }}</h3>
        {{ render_if_has_content('div', {class: 'fs-sm text-muted max-line max-line-3 mb-3'}, get_the_excerpt(event)) }}
        <a class="text-secondary-primary font-weight-bold" href="{{ permalink|esc_url }}">{{ __('More Information', domain) }}</a>
    </div>
</div>
