{% extends get_cover_template('container') %}

{% block inside_container %}

    <div class="row justify-content-center">
        <div class="col-12 col-md-8">

            {% embed get_cover_template('common/header/index') with {
                nowrap: 1,
                has_container: 0
            } %}
                {% block after_title %}
                    {{ pmpr_do_action('browser_render', {
                        items: pages,
                    }) }}
                {% endblock %}
            {% endembed %}

            {% include get_cover_template('common/single/content') %}

            {% block after_page_content %}{% endblock %}

        </div>
    </div>

{% endblock %}

{% block after_container %}

    {{ pmpr_do_action('page_after_container', post) }}

{% endblock %}

