<div class="pr-spinner overlay dark-50 position-absolute w-100 h-100 z-index-3">
    <div class="centered-absolute z-index-4">
        <span class="spinner-border" role="status" aria-hidden="true"></span>
    </div>
</div>

