<div class="nav-bar d-none d-lg-flex w-100" id="navbar">
    {% include get_cover_template('common/logo') with {
        logo_type: 'header',
        container_class: 'd-none d-lg-block mr-3',
    } %}
    {{ wp_nav_menu({theme_location:'desktop-menu'}) }}
</div>

