{% extends get_cover_template('container') %}

{% block before_container %}
    <header class="container text-center my-15">
        {{ render_if_has_content('h1', {class: 'mb-5'}, title) }}
        {{ render_if_has_content('div', {}, wpautop(description)) }}
    </header>
{% endblock %}

{% block inside_container %}

    {{ 'woocommerce_output_all_notices'|call() }}

    {% if plans is not empty %}

        <div class="row my-5">
            {% for plan in plans %}
                <div class="col-12 col-lg-6 col-xl-4 mb-5 d-flex">
                    {% include get_template('../plan', _self) with {plan: plan} %}
                </div>
            {% endfor %}
        </div>

    {% endif %}

    {% include get_cover_template('common/single/content') %}

{% endblock %}

