{% if posts is defined
    and posts is not empty %}

    <div class="row my-{{ list_container_margin|default(6) }}">

        {% for index, post in posts %}

            {% include get_cover_template('common/post/block') with {
                loop: loop,
            } %}

        {% endfor %}

    </div>

    {% include get_template('./pagination', _self) %}

    {% if pmpr_apply_filters('comment_is_allow_render', 0) %}
        {{ render_if_has_content('div', {class: 'mb-5 mt-11' }, comments_template()) }}
    {% endif %}

{% else %}

    {% include get_template('./empty', _self) %}

{% endif %}

