{% extends get_cover_template('container') %}

{% block before_container %}
    {{ parent() }}
    <div class="single-content">
        {% include get_cover_template('common/header/index') %}
    </div>
{% endblock %}

{% block inside_container %}

    {% include get_template('./content', _self) with {
        posts: have_posts()
    } %}

    {% include get_template('./comment', _self) %}

{% endblock %}


